@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header {
    .container {
      max-width: 708px;
      margin: 0 auto;

      .header-menu {
        position: fixed;
        width: 708px;

        .burger-menu {
          display: flex;
          padding: 20px;
          gap: 12px;
          border-radius: 20px;
          border: 2px solid #fff;
          align-items: center;
          position: absolute;
          right: 0;
          cursor: pointer;
          color: #fff;
        }

        .header-menu__buttons {
          display: none;
        }
      }

      .header__main-title {
        width: 521px;
        padding-top: 273px;
      }
    }
  }

  .meet {
    .container {
      max-width: 708px;
    }

    .meet__circles {
      right: -120px;
    }
  }

  .projects {
    height: 1590px;

    .container {
      max-width: 708px;
      padding-top: 52px;

      .projects__banking-app {
        width: 708px;

        .projects__banking-app--image {
          width: 663px;
          height: 458px;
        }
      }

      .projects__wrapper {
        margin-top: 102px;

        .projects__first-proj {
          width: 333px;
          height: 634px;
        }

        .projects__first-proj--image {
          width: 293px;
          height: 448px;
        }

        .projects__second-proj--image {
          width: 293px;
          height: 448px;
        }

        .projects__second-proj {
          width: 333px;
          height: 634px;
        }

        .projects__third-proj {
          display: none;
        }
      }
    }
  }

  .graphics-design {
    height: 1122px;

    .container {
      max-width: 708px;

      .graphics-design__first-pict {
        position: relative;
        width: 708px;
        height: 448px;
        border-radius: 40px;
        margin-top: 38px;
      }

      .graphics-design__first-pict--image {
        width: 708px;
        height: 448px;
      }

      .graphics-design__first-pict::before {
        content: url(../images/Soft\ Star.png);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 227px;
        height: 227px;
      }

      .graphics-design__img-wrapper {
        display: flex;
        width: 708px;

        .graphics-design__second-pict {
          width: 336px;
          height: 325px;
          position: relative;
          margin-right: 26px;
        }

        .graphics-design__second-pict--image {
          width: 336px;
          height: 325px;
        }

        .graphics-design__second-pict::before {
          content: url(../images/Butterfly.svg);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 147px;
          height: 151px;
        }

        .graphics-design__third-pict {
          width: 336px;
          height: 325px;
          position: relative;
        }

        .graphics-design__third-pict--image {
          width: 336px;
          height: 325px;
        }

        .graphics-design__third-pict::before {
          content: url(../images/Asterisk\ 1.svg);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 183px;
          height: 177px;
        }
      }
    }
  }

  .quote {
    .quote-wrapper {
      .quote__title-container {
        .quote__title {
          width: 704px;
        }
      }
    }
  }

  .footer {
    .new-project {
      max-width: 708px;

      .new-project__wraper {
        display: flex;

        .new-project__text-wraper {
          margin-left: 45px;
          text-align: left;
        }
      }
    }

    .social-media {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      gap: 34px;
    }

    .footer__text {
      margin-top: 21px;
      padding-bottom: 35px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    .container {
      max-width: 320px;
      margin: 0 auto;

      .header-menu {
        position: fixed;
        width: 320px;

        .burger-menu {
          display: flex;
          padding: 20px;
          gap: 12px;
          border-radius: 20px;
          border: 2px solid #fff;
          align-items: center;
          position: absolute;
          right: 0;
          cursor: pointer;
          color: #fff;
        }

        .header-menu__buttons {
          display: none;
        }
      }

      .header__main-title {
        width: 320px;
        padding-top: 412px;
        font-size: 3rem;
      }
    }
  }

  .meet {
    .container {
      max-width: 320px;

      .meet__circles {
        right: -240px;
      }

      .meet-text {
        width: 100%;

        .meet-text__title {
          font-size: 2.25rem;
        }

        .meet-text__main {
          font-size: 0.9rem;
        }

        .meet-statistics {
          gap: 40px;

          .meet-statistics__number {
            font-size: 2.25rem;
          }

          .meet-statistics__text {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .projects {
    height: 1206px;

    .container {
      max-width: 320px;
      padding-top: 32px;

      .projects__banking-app {
        width: 320px;
        height: 488px;

        .projects__banking-app--image {
          width: 280px;
          height: 238px;
        }
      }

      .projects__banking-app {
        width: 100%;

        .projects__banking-app--title {
          font-size: 2rem;
        }

        .projects__banking-app--text {
          margin-top: 22px;
          width: 100%;
          font-size: 0.9rem;
        }
      }

      .projects__wrapper {
        margin-top: 32px;

        .projects__first-proj {
          width: 100%;
          height: auto;
          margin-top: 63px;
        }

        .projects__second-proj,
        .projects__third-proj {
          display: none;
        }

        .projects__first-proj--title {
          font-size: 1.5rem;
        }

        .projects__proj--text {
          width: 100%;
          font-size: 0.9rem;
        }
      }
    }
  }

  .graphics-design {
    height: 1260px;

    .container {
      max-width: 320px;

      .graphics-design__first-pict {
        position: relative;
        width: 320px;
        height: 325px;
        border-radius: 40px;
        margin-top: 38px;
      }

      .graphics-design__first-pict--image {
        width: 320px;
        height: 325px;
      }

      .graphics-design__first-pict::before {
        content: url(../images/Soft\ Star.png);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 172px;
        height: 172px;
      }

      .graphics-design__img-wrapper {
        width: 320px;
        display: flex;
        flex-direction: column;

        .graphics-design__second-pict {
          width: 320px;
          height: 325px;
          position: relative;
          margin-right: 26px;
        }

        .graphics-design__second-pict--image {
          width: 320px;
          height: 325px;
        }

        .graphics-design__second-pict::before {
          content: url(../images/Butterfly.svg);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 147px;
          height: 151px;
        }

        .graphics-design__third-pict {
          width: 336px;
          height: 325px;
          position: relative;
        }

        .graphics-design__third-pict--image {
          width: 336px;
          height: 325px;
        }

        .graphics-design__third-pict::before {
          content: url(../images/Asterisk\ 1.svg);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 183px;
          height: 177px;
        }
      }
    }
  }

  .quote {
    .quote-wrapper {
      .quote__title-container {
        .quote__title {
          width: 320px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .footer {
    .new-project {
      margin-top: 78px;
      display: inline-flex;
      padding: 10.5px 32.5px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 139px;
      border: 1px solid var(--Gray-6, #f2f2f2);

      .new-project__icon {
        width: 58px;
        height: 58px;
      }

      .new-project__wraper {
        display: flex;

        .new-project__text-wraper {
          margin-left: 20px;

          .new-project__title {
            color: #fff;
            font-family: DynaPuff;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .new-project__text-book {
            display: flex;
            align-items: center;
            margin-top: 4px;
            color: #fff;
            font-family: Manrope;
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            .new-project__text {
              margin-right: 24px;
            }
          }
        }
      }
    }

    .social-media {
      margin-top: 163px;
      display: flex;
      justify-content: center;
      gap: 34px;
    }

    .footer__text {
      margin-top: 21px;
      padding-bottom: 35px;
      color: #fff;
      text-align: center;
      font-family: Manrope;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
