.footer {
  height: auto;
  background: #202020;
  text-align: center;

  .new-project {
    margin-top: 78px;
    display: inline-flex;
    padding: 42px 137px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 139px;
    border: 1px solid var(--Gray-6, #f2f2f2);

    .new-project__wraper {
      display: flex;

      .new-project__text-wraper {
        margin-left: 45px;

        .new-project__title {
          color: #fff;
          font-family: DynaPuff;
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .new-project__text-book {
          display: flex;
          align-items: center;
          margin-top: 17px;
          color: #fff;
          font-family: Manrope;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          .new-project__text {
            margin-right: 24px;
          }
        }
      }
    }
  }

  .social-media {
    margin-top: 163px;
    display: flex;
    justify-content: center;
    gap: 34px;
  }

  .footer__text {
    margin-top: 21px;
    padding-bottom: 35px;
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
