.graphics-design {
  height: 1220px;
  background: #202020;

  .container {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 82px;

    .graphics-design__title {
      color: #fff;
      font-family: DynaPuff;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: normal;
    }

    .graphics-design__first-pict {
      position: relative;
      width: 1055px;
      height: 414px;
      border-radius: 40px;
      margin-top: 38px;
    }

    .graphics-design__first-pict::before {
      content: url(../images/Soft\ Star.png);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    .graphics-design__img-wrapper {
      display: flex;

      .graphics-design__second-pict {
        width: 514px;
        height: 414px;
        margin-top: 26px;
        position: relative;
        margin-right: 26px;
      }

      .graphics-design__second-pict::before {
        content: url(../images/Butterfly.svg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }

      .graphics-design__third-pict {
        width: 514px;
        height: 414px;
        margin-top: 26px;
        position: relative;
      }

      .graphics-design__third-pict::before {
        content: url(../images/Asterisk\ 1.svg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
  }
}
