.header {
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
  height: 800px;

  .container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;

    .header-menu {
      position: fixed;
      width: 1050px;
      top: 0;
      z-index: 5;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      font-family: Manrope;
      font-size: 1rem;
      font-weight: 700;
      line-height: normal;

      .header-menu__buttons {
        .nav-menu {
          display: flex;
          gap: 20px;
          justify-content: center;
          align-items: center;

          .nav-menu__link {
            display: flex;
            border: 1px solid #fff;
            padding: 10px 16px;
            border-radius: 20px;

            img {
              margin-right: 12px;
            }
          }
        }
      }
    }

    .header__main-title {
      width: 846px;
      padding-top: 376px;
      color: #fff;
      font-family: DynaPuff;
      font-size: 5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
