@use "reset.scss";
@use "header.scss";
@use "meet.scss";
@use "projects.scss";
@use "quote.scss";
@use "graphic.scss";
@use "footer.scss";
@use "adaptive.scss";

@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

ol,
ul {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
}

.burger-menu {
  display: none;
}
