.meet {
  width: 100%;
  height: 470px;
  background: #202020;
  position: relative;
  overflow: hidden;

  .container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;

    .meet-text {
      padding-top: 101px;
      width: 540px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .meet-text__title {
        color: #faeb49;
        font-family: DynaPuff;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .meet-text__main {
        color: #fff;
        font-family: Manrope;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .meet-statistics {
        display: flex;
        gap: 96px;

        .meet-statistics__number {
          color: #fff;
          font-family: DynaPuff;
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .meet-statistics__text {
          color: #fff;
          font-family: Manrope;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }

  .meet__circles {
    width: 268px;
    height: 512px;
    position: absolute;
    top: -40px;
    right: 0;

    .meet__circles--circle-one,
    .meet__circles--circle-two {
      position: absolute;
      width: 268px;
      height: 512px;
      border-radius: 50%;
      border: 1px solid #737373;
    }

    .meet__circles--circle-one {
      transform: rotate(45deg);
    }

    .meet__circles--circle-two {
      transform: rotate(-45deg);
    }
  }
}
