.projects {
  height: 1460px;
  background: #3c3c3c;

  .container {
    padding-top: 86px;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;

    .projects__banking-app {
      display: flex;
      width: 1050px;
      height: 680px;
      padding: 24px 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 24px;
      background: #fffef2;

      .projects__banking-app--title {
        padding-top: 20px;
        color: #565656;
        font-family: DynaPuff;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: normal;
      }

      .projects__banking-app--text {
        width: 580px;
        color: #000;
        font-family: Manrope;
        font-size: 1rem;
        font-weight: 700;
        line-height: normal;
      }
    }

    .projects__wrapper {
      margin-top: 63px;
      display: flex;
      gap: 40px;

      .projects__first-proj {
        display: flex;
        width: 325px;
        height: 545px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 24px;
        background: #fffef2;
      }

      .projects__second-proj {
        display: flex;
        width: 325px;
        height: 545px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 24px;
        background: #fffef2;
      }

      .projects__third-proj {
        display: flex;
        width: 325px;
        height: 545px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 24px;
        background: #fffef2;
      }

      .projects__first-proj--title {
        margin-top: 20px;
        color: #565656;
        font-family: DynaPuff;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
      }

      .projects__second-proj--title {
        margin-top: 20px;
        color: #565656;
        font-family: DynaPuff;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .projects__third-proj--title {
        margin-top: 20px;
        color: #565656;
        font-family: DynaPuff;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .projects__proj--text {
        width: 285px;
        color: #000;
        font-family: Manrope;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
