.quote {
  background-image: url(../images/Rectangle\ 8.png);

  .quote-wrapper {
    position: relative;
    height: 800px;

    .quote__title-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      .quote__title {
        width: 1059px;
        color: #fff;
        font-family: DynaPuff;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
