.article {
  width: 1120px;
}

.article__main-part {
  background-color: var(--grey-title-color);
  display: flex;
  flex-direction: column;
  width: 1120px;
  justify-items: flex-start;
}

.article__mid-part {
  font-size: 25px;
  color: white;
  margin: 80px auto;
}

.article__bott-part {
  width: 100%;
  background-color: black;
}
