:root {
  --grey-title-color: #171717;
  --gold-title-color: #e4b564;
  --red-title-color: red;
  --grid-item-color-1: #634f2c;
  --grid-item-color-2: #b4a385;
  --grid-item-color-3: #e4b564;
  --grid-item-color-4: #635a4a;
  --grid-item-color-5: #b08c4d;
  --grid-item-color-6: #0e0e0e;
  --grid-item-color-7: #1f1f1f;
  --grid-item-color-8: #242424;
  --grid-item-color-9: #e4b564;
  --grid-item-color-10: #1f1f1f;
  --grid-item-color-11: #0e0e0e;
  --grid-item-color-12: #0a0909;
}
