.grid-wrapper {
  display: grid;
  text-align: center;
  place-items: center;
  color: #fff;
  font-style: normal;
  line-height: 28px;
  height: 800px;
  grid-gap: 30px;
}

.main-grid-wrapper {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.mid-grid-wrapper {
  font-size: 15px;
  font-weight: 400;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.main-grid-wrapper__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.span__grid-item {
  display: flex;
  height: 25px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

[class^="grid-wrapper__item item-"] p {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item-1--grid {
  grid-column: 1/3;
  grid-row: 1;
  background-color: var(--grid-item-color-1);
}

.item-2--grid {
  grid-column: 3/5;
  grid-row: 1;
  background-color: var(--grid-item-color-2);
}
.item-3--grid {
  grid-column: 5/7;
  grid-row: 1;
  background-color: var(--grid-item-color-3);
}

.item-4--grid {
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: var(--grid-item-color-4);
}

.item-5--grid {
  grid-column: 4 / span 3;
  grid-row: 2;
  background-color: var(--grid-item-color-5);
}

.item-6--grid {
  height: 100%;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-color: var(--grid-item-color-6);
}

.item-7--grid {
  height: 100%;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
  background-color: #1f1f1f;
}

.item-8--grid {
  height: 100%;
  width: 100%;
  grid-column: 3 / span 2;
  grid-row: 1 / span 3;
  background-color: var(--grid-item-color-8);
}

.item-9--grid {
  height: 100%;
  width: 100%;
  grid-column: 3 / span 2;
  grid-row: 4 / span 3;
  background-color: var(--grid-item-color-9);
  color: #000;
}

.item-10--grid {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  background-color: var(--grid-item-color-10);
}

.item-11--grid {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 3 / span 2;
  background-color: var(--grid-item-color-11);
}

.item-12--grid {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
  background-color: var(--grid-item-color-12);
}

.section__logo {
  width: 1120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.logo__item {
  display: flex;
  margin: 0;
  width: 370px;
  height: 300px;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-1--logo {
  background-color: var(--grid-item-color-1);
}

.item-2--logo {
  flex-direction: column;
  background-color: var(--grid-item-color-2);
  color: white;
}

.item-2--logo img {
  margin-top: 20px;
}

.item-2--logo p {
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  flex-direction: column;
}

.item-3--logo {
  background-color: var(--grid-item-color-3);
}

.item-4--logo {
  background-color: var(--grid-item-color-4);
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.item-5--logo {
  background-color: var(--grid-item-color-5);
}

.item-6--logo {
  background-color: var(--grid-item-color-1);
}
