.header {
  background-color: var(--grey-title-color);
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.header__button {
  background-color: var(--grey-title-color);
}

.header__recall-icon {
  margin: 0;
}
