@use "reset.scss";
@use "colors.scss";
@use "articles.scss";
@use "gridlogo.scss";
@use "header.scss";
@use "sections.scss";
@use "part-items.scss";

html {
  background-color: var(--grey-title-color);
}

.footer {
  height: 240px;
}
