.button {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  border: 1px solid var(--gold-title-color);
  color: var(--gold-title-color);
}

.bott-part__button {
  background-color: var(--grid-item-color-12);
}

.article__h1 {
  margin: 20px auto;
  display: flex;
  width: 1120px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.mid-part__h1 {
  margin-top: 161px;
  margin-bottom: 94px;
}

.div__bott-part {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 40px;
  align-items: center;
  width: 1120px;
}

.main-part__p {
  margin: 20px auto;
  display: flex;
  width: 1120px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
